[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "OncoSubtype"]
	path = OncoSubtype
	url = https://github.com/dadongz/oncosubtype
